/*
CSS
*/


html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative;
  background-color: #000;
}
body {
  font-family: 'Oswald', sans-serif;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFklEQVQIW2NkYGD4D8SMQAwhYACFAwAjcQEE0gngKAAAAABJRU5ErkJggg==);
  margin: 0;
  padding: 0;
  color: #fff;
  position: relative;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
a{
  color: #ECE800;
}
.header{
  text-align: center;
  padding-top: 30px;
}
.header h1.destaque{
  padding: 10px 30px;
  background-color: #ECE800;
  font-size: 25px;
  margin: 0 auto;
  color: #333;
  font-weight: bold;
  margin: 10px 0 30px; 
}
.header h2{
  font-size: 22px;
}
.header strong{
  color: #ECE800;
}
.containt{
  font-size: 15px;
  padding: 30px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  margin-top: 30px;
}
.containt a{
  font-size: 20px;
}
.container a:hover{
  color: #ECE800;
  text-decoration: none;
}
.socials i{
  /*text-align: right;*/
  margin: 0 12px;
  font-size: 30px;
}
.copyright{
  font-size: 16px;
}
.copyright strong{
  color: #ECE800;
  margin: 0 5px;
}
footer{
  background-color: rgba(0,0,0,0.7);
  padding: 30px 0;
  width: 100%;
}




@media (max-height: 768px) {
  
  footer{
    position: relative;
    margin-top: 30px;
  }
}

@media (min-height: 768px) {


  footer{
    position: absolute;
    bottom: 5%;
  }
  
}