{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        
        <div class="containt">
            <p>
                <a href="{% url 'subscriptions:subscribe' %}" class="btn btn-primary btn-lg">Inscreva-se Já!</a>
            </p>
            <br>
            <p>Para dúvidas e mais informações entre em contato com <br>
            <a href="mailto:eventex@eventex.com.br"> <i class="fa fa-envelope"></i> eventex@eventex.com.br</a></p>
        </div>
        
    </div>
</div>

{% endblock content %}